@model Int32[]
<h1>輸出內容練習</h1>
@foreach (var i in Model)
{
    @i
}
 
@foreach (var i in Model)
{
   @(i+" ")
@*<text>@i</text>}*@
} 
 
<ul>
@foreach (var i in Model)
{
    <li>@i</li>
}
</ul>




@*@{
    var i = true;
    if (i)
    {
        <p>您好</p> 
        @: !!!!!
        <p>現在時間:@DateTime.Now</p>
    }
}*@

